h1 {
    color: #232C50;
    text-align: right;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
    /* 57.3px */
    letter-spacing: -1.75px;
}

.btn-primary {
    border-radius: 50px;
    background: #8B48BF;
    display: flex;
    width: 134px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}